body {
    background-color: rgb(233, 230, 195);
    color: rgb(0, 0, 0);
    





}
strong {
    color: rgb(93, 108, 131);
}

h1{
    font-weight: bold;
}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }