*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #f1e3e3;
    color: #111111;
}

.titulo-destaque{
    color: #d8521d;
}
.apresentacao{
    display: flex;
    align-items: center;
}